<h2>List of Ratings</h2>
<h3>Number of ratings: <%= @ratings.count %></h3>
<ul>
	<% @ratings.each do |rating| %>
	<li> 
		<%= rating.to_s %>
		<%= link_to rating.user.username, rating.user %>
	 </li>
	<% end %>
</ul>

<% if not current_user.nil? %>
<p><%= link_to "New Rating", new_rating_path , class:'btn btn-primary'%></p>
<% end %>